html {
  font-family: Overpass, sans-serif;
  color: #fff;
  text-align: center;
}

a {
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
  border: #fff;
}

section {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}
